body {
    display: flex;
    min-height: 100svh;
    flex-direction: column;
    margin: 0
}

.outer-container {
    display: flex;
    max-width: 100svw;
    justify-content: center;
    margin: 0
    align-items: center;
    flex-grow: 1;
}

.container {
    position: relative;
    max-width: 500px;
}

.col2-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
