{% extends "layouts/base.html" %} 
{% block content %}
<link rel="stylesheet" href="/css/autopilots.css">
<div class="outer-container">
    <div class="image-container">
      <img src='/img/products/computer_diagram.jpg' id='main-image' style="max-width: 100%">
      <h2><span>Click on the picture for more details</span>    <span id='image_item'></span></h2>
    </div>
</div>
<script>
  const links = [
      ['linear actuator', [0, 0], [386, 263], '/actuators'],
      ['motor controller', [78, 338], [335, 626], '/motor_controllers'],
      ['autopilot computer', [441, 294], [737, 600], '/autopilot_computer'],
      ['control panel', [785, 567], [1071, 854], '/control_panels']];
  const mainImage = document.getElementById('main-image');

  function find_link(e) {
      const rect = mainImage.getBoundingClientRect();
      x = e.clientX - rect.left;
      y = e.clientY - rect.top;
      
      // Scale the mouse coordinates to match the canvas size
      const scaleX = mainImage.naturalWidth / rect.width;
      const scaleY = mainImage.naturalHeight / rect.height;
      x = Math.floor(x * scaleX);
      y = Math.floor(y * scaleY);


      for(var i =0; i < links.length; i++) {
          ca = links[i][1];
          cb = links[i][2];
          if(x > ca[0] && y > ca[1] && x < cb[0] && y < cb[1])
              return i;
      }
      return -1;
  }
  
  document.addEventListener('DOMContentLoaded', function () {
      var image_item = document.getElementById('image_item');
      mainImage.addEventListener('mousemove', function (e) {
          var i = find_link(e);
          if(i >= 0)
              image_item.innerText = links[i][0];
          else
              image_item.innerText = '';
      });

    mainImage.addEventListener('click', function (e) {
        var i = find_link(e);
        if(i >= 0)
            window.location.href = links[i][3];
    });
});
</script>
{% endblock %}
