{% extends "layouts/base.html" %} 
{% block content %}

<div class='grid-container'>
  <div class='grid-item'>
      <img class="image-swap" src='/img/products/control_panel.jpg'>
  </div>
  <div class='resized-text'>
    <ul>
      <li>Orignal 7 key control panel intended to mount near the autopilot computer to access the on-screen menu interface</li>
      <li>Can be powered from 5-40 volts DC with protection circuitry</li>
      <li>Sends signals wirelessly to the autopilot computer.</li>
      <li>Completely waterproof potted design in 3d printed enclosure.</li>
      <li>IP68 membrane keypad with metal domes for tactile control.</li>
    </ul>
  </div>
</div>
{% endblock %}
