{% extends "layouts/base.html" %} 
{% block content %}
    <div id="Video"">
      <h3>Sailing</h3>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ZaLBRRelT-M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <br>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/KQuBwLSMSxI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> 
      <h3>Setup</h3>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/7TdXImMFTZk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <br>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/au9oZ_-Qces" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
{% endblock %}
